<!DOCTYPE html>
<html>

<head>
  <title><%= name %></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <h1><%= name %></h1>
  <p><b><%= name %></b> wünscht sich <b><%= wish %></b>.</p>
  <a href="/">Zurück zur Startseite</a>
</body>

</html>